*.Tpo
*.Po
*.Plo
*Makefile
*.o
*.a
config.h
config.status
snort.pc
libtool
stamp-h1
stamp-h2
src/snort
tools/u2boat/u2boat
tools/u2spewfoo/u2spewfoo
tools/snort2lua/snort2lua
doc/snort_manual.*
daqs/*.la
daqs/*.lo
*.la
*.lai
*.so
doc/*.txt
